*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
   text-decoration: none;
   color: white;
}
.container{
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}
.main-title{
    margin-top: 30px;
}
.navbar{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom: 1px solid grey;
}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-link{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}
.menu-link:hover{
text-decoration: underline;
}
.cart{
    width: 3rem;
}
.badge{
    padding: 0.2rem;
    color: black;
    background-color: azure;
    border-radius: 3rem;
}
.logo{
    width: 5rem;
    
}
.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding-block: 2rem;
}
.producto {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.producto > div {
    padding: 1rem;
    background-color: var(--clr-main-light);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto > img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.producto .ver-mas {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

.producto .ver-mas:hover {
    background-color: black;
    color: white;
}

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.producto-detalle img {
    width: 100%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}

.categoria {
    font-size: .8rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}